<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer list</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
        </tr>
        <tr style="background: #aaa;">
            <td colspan="3"></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "c : ${customers}">
            <td th:text = "${c.id}"></td>
            <td th:text = "${c.name}"></td>
            <td><input type="submit" value="delete"></td>
        </tr>
        <tr style="background: #aaa;">
            <td colspan="3"></td>
        </tr>
        <tr>
            <form th:action = "@{/customer_list}" method = "POST">
                <td><p>Add new customer: </p></td>
                <td><input type="text" name="name" placeholder="First name"/></td>
                <td><input type="submit" value="add"></td>
            </form>
        </tr>
        </tbody>
    </table>
</body>
</html>