<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Local Grocery</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Enter your name: </td>
                <td><input type="text" name="title"/></td>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "p : ${products}">
                <td th:text = "${p.title}"></td>
                <td th:text = "${p.cost}"></td>
                <td><button>+</button></button></td>
                <td><button>-</button></button></td>
            </tr>
            <tr>
                <td>Basket: </td>
                <td th:text = "${amount}"></td>
                <td><button>send</button></td>
            </tr>
        </tbody>
    </table>
</body>
</html>